In [140]:
import scipy.stats as stats
import pandas as pd
import numpy as np
from sklearn.base import TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.impute._iterative import IterativeImputer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
import seaborn as sns
import dateutil.parser as parser
from sklearn.impute import SimpleImputer as Imputer, SimpleImputer
from sklearn.neighbors import NearestNeighbors as neigh
from sklearn.neighbors import KNeighborsRegressor as neigh
from sklearn.model_selection import train_test_split as split
from sklearn import metrics
from math import sqrt
import json
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PowerTransformer
from missingpy import KNNImputer, MissForest

In [194]:
data = pd.read_csv("../data/other_train.csv",index_col=0)

dict_array = []
string = '{"mean_glucose": 9999999,"std_glucose": 9999999,"kurtosis_glucose":9999999,"skewness_glucose":9999999,"mean_oxygen":9999999,"std_oxygen":9999999,"kurtosis_oxygen":9999999,"skewness_oxygen":9999999}'
data.medical_info.apply(lambda x: dict_array.append(json.loads(x.replace("'","\"").replace(":\"",":").replace("\",",",").replace("\"}","}") if isinstance(x,str) else string)))
medical_datas = pd.DataFrame(dict_array)

for item in medical_datas:
    data[item] = medical_datas[item].astype(float)
data = data.drop(columns=['medical_info'])
# print(data)
# data.info()


person = pd.read_csv("../data/personal_train.csv",index_col=0)
# print(person)
# person.info()

/home/matho/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 28 columns):
name                3933 non-null object
address             3933 non-null object
age                 3933 non-null float64
sex                 3933 non-null object
date_of_birth       3933 non-null object
race                3933 non-null object
marital-status      3933 non-null object
occupation          3703 non-null object
pregnant            3931 non-null object
relationship        3932 non-null object
education           3933 non-null object
income              3932 non-null object
native-country      3872 non-null object
workclass           3341 non-null object
education-num       3933 non-null float64
capital-gain        3933 non-null float64
fnlwgt              3932 non-null float64
class               3933 non-null float64
hours-per-week      3932 non-null float64
capital-loss        3933 non-null float64
kurtosis_glucose    3932 non-null float64
kurtosis_oxygen     3932 non-null float64
mean_glucose        3932 non-null float64
mean_oxygen         3932 non-null float64
skewness_glucose    3932 non-null float64
skewness_oxygen     3932 non-null float64
std_glucose         3932 non-null float64
std_oxygen          3932 non-null float64
dtypes: float64(15), object(13)
memory usage: 1.0+ MB

In [ ]:

data = data.replace({ 9999999 : np.nan },regex=False)
data = data.replace({'^[? ]*$' : np.nan},regex=True)
person = person.replace({'^[? ]*$' : np.nan},regex=True)

In [ ]:
numeric = data.select_dtypes(include=['float64'])
categoric = data.select_dtypes(include=['object'])
numeric['name'] = categoric['name']

numeric = numeric.groupby('name').aggregate('mean')
categoric = categoric.groupby('name').aggregate('first')

data = categoric.merge(numeric, on=['name'])

In [ ]:
merged_data = pd.merge(person, data, on=['name','address'], how='left')

In [ ]:
merged_data = merged_data.replace(['FALSE','F'],'f',regex=True)
merged_data = merged_data.replace(['TRUE','T'],'t',regex=True)

merged_data = merged_data.replace([' <=50K'],'<=50K',regex=True)
merged_data = merged_data.replace([' >50K'],'>50K',regex=True)


merged_data = merged_data.replace([' Other-relative'],' Other_relative',regex=True)
merged_data = merged_data.replace([' Not-in-family'],' Not_in_family',regex=True)
merged_data = merged_data.replace([' Own-child'],' Own_child',regex=True)


for i, row in merged_data.iterrows():
        
    date = parser.parse(merged_data.iloc[i]['date_of_birth'].split(' ')[0])
    day = date.day
    month = date.month
    year = date.year
    
    if (year > 2019):
        year = year - 100

    merged_data.at[i,'date_of_birth'] = str(day) + "/" + str(month) + "/" + str(year)
            
    if ((pd.isna(row['age'])) | (row['age'] > 115) | (row['age'] < 0)):
        merged_data.at[i,'age'] = 2019 - year

merged_data.info()

In [ ]:
# Remove outliers which can be probably not use
# print(merged_data['education-num'].value_counts())
# sns.distplot(merged_data['education-num'])

# ## Remove outliers from education-num
# # sns.boxplot(merged_data['education-num'])
# merged_data.loc[merged_data['education-num'] < 5,'education-num'] = np.NaN
# # sns.boxplot(merged_data['education-num'])
# 
# ## Remove outliers from 'capital-gain'
# # sns.boxplot(merged_data['capital-gain'])
# merged_data.loc[merged_data['capital-gain'] > 30000,'capital-gain'] = np.NaN
# # sns.boxplot(merged_data['capital-gain'])
# 
# ## Remove outliers from 'fnlwgt'
# # sns.boxplot(merged_data['fnlwgt'])
# merged_data.loc[merged_data['fnlwgt'] > 800000,'fnlwgt'] = np.NaN
# # sns.boxplot(merged_data['fnlwgt'])
# 
# ## Remove outliers from 'hours-per-week'
# # sns.boxplot(merged_data['hours-per-week'])
# merged_data.loc[(merged_data['hours-per-week'] > 57) | (merged_data['hours-per-week'] < 8),'hours-per-week'] = np.NaN
# # sns.boxplot(merged_data['hours-per-week'])

In [ ]:
# Remove outliers on floats datas

## Remove outliers from 'kurtosis_glucose'
column = 'kurtosis_glucose'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 6) | (merged_data[column] < -1)
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'mean_glucose'
column = 'mean_glucose'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 150)  
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'mean_oxygen'
column = 'mean_oxygen'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 120)  
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'kurtosis_oxygen'
column = 'kurtosis_oxygen'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 20)  
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'skewness_glucose'
column = 'skewness_glucose'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 40)  
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'skewness_oxygen'
column = 'skewness_oxygen'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 350)  
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'std_glucose'
column = 'std_glucose'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 62) 
merged_data.loc[mask ,column] = np.NaN

## Remove outliers from 'std_oxygen'
column = 'std_oxygen'
# sns.boxplot(merged_data[column])
# merged_data[column].hist()
mask = (merged_data[column] > 80)  
merged_data.loc[mask ,column] = np.NaN

In [64]:
# Divide datas into 3 category

old = merged_data
merged_data = merged_data.drop(columns=['class'])

numeric = merged_data.select_dtypes(include=['float64'])
numeric1 = numeric.iloc[:,:7].columns
print(numeric1)
numeric2 = numeric.iloc[:,7:].columns
print(numeric2)        
categoric = merged_data.select_dtypes(include=['object']).columns
print(categoric)

Index(['age', 'education-num', 'capital-gain', 'fnlwgt', 'hours-per-week',
       'capital-loss', 'kurtosis_glucose'],
      dtype='object')
Index(['kurtosis_oxygen', 'mean_glucose', 'mean_oxygen', 'skewness_glucose',
       'skewness_oxygen', 'std_glucose', 'std_oxygen'],
      dtype='object')
Index(['name', 'address', 'sex', 'date_of_birth', 'race', 'marital-status',
       'occupation', 'pregnant', 'relationship', 'education', 'income',
       'native-country', 'workclass'],
      dtype='object')

In [65]:
# Apply pipeline in category 

numeric_transformer1 = Pipeline(steps=[('imputer',MissForest(missing_values=np.NaN, max_iter=10, # Nahradenie nulovych hodnot pomocou MissForest
                                                             decreasing=False, copy=False)), 
                                      ('powerTransformer',PowerTransformer(method='yeo-johnson',
                                                                           copy=False)) # Transformuje dat aby boli viac z Gaussoveho rozdelenia
                                       ])
numeric_transformer2 = Pipeline(steps=[('imputer',KNNImputer(missing_values=np.NaN, n_neighbors=5, # Nahradenie nulovych hodnot pomocou KNN
                                                              weights='distance')), 
                                     # ('RobustScaler',StandardScaler())    # 
                                       ])
categoric_transormer = Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent'))]) # Nahradenie nulovych hodnot pomocou najcastejsich hodnot
                                      # ('onehot',OneHotEncoder(handle_unknown='ignore'))])
preproccesors = ColumnTransformer(transformers=[('Cat', categoric_transormer, categoric),
                                                ('Num1', numeric_transformer1, numeric1),
                                                ('Num2', numeric_transformer2, numeric2)
                                                ])

In [66]:
# Execute pipeline steps

pipeline = Pipeline(steps=[('preproccesors', preproccesors)])
pipeline_datas = pipeline.fit_transform(merged_data)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5

/home/matho/anaconda3/lib/python3.7/site-packages/missingpy/knnimpute.py:224: UserWarning: There are rows with more than 50.0% missing values. These rows are not included as donor neighbors.
  .format(self.row_max_missing * 100))
/home/matho/anaconda3/lib/python3.7/site-packages/missingpy/knnimpute.py:282: UserWarning: There are rows with more than 50.0% missing values. The missing features in these rows are imputed with column means.
  .format(self.row_max_missing * 100))

In [67]:
# Show mereged datas

merged_data = pd.DataFrame(pipeline_datas,columns=merged_data.columns)
print(merged_data)

                      name                                            address  \
0          Roscoe Bohannon  7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...
1             Ernest Kline  391 Ball Road Suite 961\r\nflowersborough, IN ...
2          Harold Hendriks     8702 Vincent Square\r\nNew Jerryfurt, CO 30614
3           Randy Baptiste     2751 Harris Crossroad\r\nWest Ashley, CA 30311
4          Anthony Colucci  904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...
5             Ronald Lange        30973 Martinez Shores\r\nJameston, CA 70245
6            Boyd Eiselein  29941 Christopher Curve Apt. 682\r\nRaychester...
7            Raymond Smith  53487 Scott Extensions Apt. 824\r\nMccartytown...
8            Harold Miller  8514 Elizabeth Crescent\r\nWest Joseland, GA 4...
9     Charles Czachorowski  6798 Wagner Locks Suite 377\r\nLake Brenda, DC...
10         Robert Grantham            822 Adams Plains\r\nNew Karen, AK 92114
11                Joel Lam  61296 Reginald Rapids Suite 783\r\nWest timoth...
12              Irving Gil  90757 Amanda Views Suite 604\r\nPort Paul, tX ...
13          terry Reynolds  0019 Jensen Land Apt. 513\r\nPort timothyville...
14        Kurt Littlefield       822 Wilson Meadow\r\nMitchellmouth, RI 05935
15            Andy Grayson            2573 Ryan Mission\r\nShortton, DC 01129
16         Chauncey Suarez      481 Wilson Prairie\r\nKimberlymouth, LA 20064
17          Wallace Street          9909 John Creek\r\nEast Heather, NY 31266
18         Daniel Crossman   74669 Robles Drive\r\nPort Madisonbury, LA 63565
19              Steve Ripp           7629 Ramos Knoll\r\nOwensmouth, NC 34420
20         George Hairston      18356 Benjamin Roads\r\nSouth Nancy, NJ 58120
21          Jeffrey taylor                           USNV Kim\r\nfPO AA 96043
22             David Mealy          0873 Diaz Village\r\nSandrastad, DE 05796
23          Garfield Bowen   3678 Gloria Pine Apt. 652\r\nKevinfort, LA 80839
24        thaddeus Mackerl  8122 Jessica Knolls Apt. 880\r\nDakotafurt, WV...
25             Gerald Pack       6146 Roman Shores\r\nNew Christine, OR 28920
26         Jonathon Nemith            875 David Road\r\nPhillipfort, NC 26174
27             Roger Groce          781 Berry Spring\r\ntravismouth, NJ 11603
28            Harold Odowd  7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...
29         Stanley forrest  9532 Jesse Roads Suite 253\r\nNorth toni, NC 7...
...                    ...                                                ...
3903       Anthony Hoffman  164 Kristi Station Suite 000\r\nKimberlyfurt, ...
3904          Charles Gray     82950 Harding Knolls\r\nMcmahonburgh, ID 09644
3905          Jarrod Duffy  6164 Sanchez Divide Suite 420\r\nRalphborough,...
3906         Peter Gaydosh  17568 Amanda Court Suite 220\r\nPattonside, DE...
3907        Chester Holmes  720 Harris turnpike Suite 732\r\nEast Sierra, ...
3908       Robert Mitchell  775 Hall Mountain Apt. 538\r\nNorth Aaronmouth...
3909        Michael Warner                 PSC 2691, Box 9112\r\nAPO AE 63663
3910        Morgan Padilla       09934 Lance Corner\r\nVeronicaport, IN 24910
3911          Wallace King  06226 Rebecca Village\r\nWest Christopherside,...
3912         Samuel Garcia      418 Christopher Court\r\nNancyburgh, WY 93612
3913       David Signorile  23675 Jennifer Island Suite 889\r\ntranland, A...
3914            John Jaffe                 PSC 3677, Box 2117\r\nAPO AE 28076
3915            Drew Garst                        USNS Duarte\r\nfPO AA 22046
3916              tony Lee        3874 Adams Alley\r\nNew Danielton, NY 38772
3917          Robert Gerke        820 Mark Drives\r\nMichaelchester, OH 64396
3918          Hector Kenny    54278 Kyle Lock Suite 612\r\nLeonfurt, MO 81951
3919      Charles Perryman             136 Kane Points\r\nNew Larry, Vt 78663
3920          David Lackey                     USNV Patterson\r\nfPO AA 81791
3921           Jerry Banks         3469 Vincent forge\r\nSmithville, KY 69292
3922       Delbert Cantave     9537 Bruce Cape Apt. 688\r\nCodyport, AR 43964
3923         Mark Goldberg  2405 Hunter View Apt. 348\r\nNorth Luishaven, ...
3924           John Booker         744 Justin Street\r\nErinborough, NE 87956
3925        Edward Peschel    6562 James Plaza Apt. 950\r\nRyanberg, ND 07273
3926         Joseph Leroux                 Unit 7574 Box 5626\r\nDPO AE 77296
3927      Emerson Williams  888 Benjamin Parks Suite 847\r\nDonaldtown, IA...
3928       Clair Pinkleton             8582 Lee Roads\r\nCostaburgh, SC 21897
3929          William Pope  68430 Erik terrace Suite 279\r\nPort Adamborou...
3930          Jared Kinsey                 Unit 8416 Box 3801\r\nDPO AE 31166
3931      frederick Lawley   34420 Brian Stream\r\nLake Michaeltown, MS 01832
3932   Adalberto Daughters                 Unit 7931 Box 0601\r\nDPO AE 50505

          age         sex        date_of_birth                 race  \
0        Male   30/3/1967                White        Never-married
1        Male  15/10/1970                Black             Divorced
2        Male  16/12/1954                White        Never-married
3        Male   23/7/1969                White   Married-civ-spouse
4        Male    5/3/1950                White   Married-civ-spouse
5        Male  29/11/1958                White   Married-civ-spouse
6        Male   15/7/1992                White             Divorced
7      female  28/10/1957                White        Never-married
8        Male    4/7/1968                White   Married-civ-spouse
9        Male  13/11/1993                White   Married-civ-spouse
10     female    7/9/1983                White        Never-married
11     female   12/8/1969                White            Separated
12       Male   14/4/1985                White             Divorced
13       Male   25/4/1955   Asian-Pac-Islander   Married-civ-spouse
14       Male  19/11/1959                White   Married-civ-spouse
15       Male    1/8/1962                White   Married-civ-spouse
16     female  12/12/1989                White             Divorced
17       Male   17/8/1956                White        Never-married
18     female  26/10/1957                Black   Married-civ-spouse
19       Male   10/9/1963                White        Never-married
20       Male   26/6/1964                White        Never-married
21       Male   10/6/1971                White   Married-civ-spouse
22       Male    6/3/1944                White   Married-civ-spouse
23     female  14/11/1972                White        Never-married
24     female   12/8/1968                White        Never-married
25     female   25/7/1961                White        Never-married
26       Male  25/12/1981                White   Married-civ-spouse
27       Male   18/6/1969   Asian-Pac-Islander   Married-civ-spouse
28       Male   28/4/1971                White   Married-civ-spouse
29       Male   21/8/1953                White             Divorced
...       ...         ...                  ...                  ...
3903     Male    2/8/1978                White        Never-married
3904     Male   19/3/1958                White        Never-married
3905   female   10/5/1983                White              Widowed
3906     Male    8/9/1968                White        Never-married
3907     Male    3/5/1948                White        Never-married
3908   female   30/9/1964                White        Never-married
3909     Male    9/5/1983                White             Divorced
3910     Male   20/9/1961                White        Never-married
3911     Male   30/1/1974                White   Married-civ-spouse
3912     Male   13/8/1983                White             Divorced
3913     Male  25/11/2000                White        Never-married
3914     Male   11/8/1977                White   Married-civ-spouse
3915     Male  28/10/1961                White        Never-married
3916     Male   30/6/1954                White   Married-civ-spouse
3917     Male  24/12/1957                White        Never-married
3918   female   19/8/1974                White        Never-married
3919     Male  16/12/1970                White   Married-civ-spouse
3920     Male  22/12/1975                White        Never-married
3921     Male   31/3/1972                White        Never-married
3922   female   28/1/1959                White        Never-married
3923   female   22/1/1988                White   Married-civ-spouse
3924   female    5/4/1975                White        Never-married
3925   female   18/6/1980                White        Never-married
3926   female    7/4/1957                White        Never-married
3927     Male   28/8/1957                White        Never-married
3928     Male   18/3/1952   Asian-Pac-Islander   Married-civ-spouse
3929   female   26/5/1952                White        Never-married
3930   female    7/7/1970                White        Never-married
3931     Male   22/7/1977                White   Married-civ-spouse
3932     Male   27/4/1961   Asian-Pac-Islander        Never-married

          marital-status occupation         pregnant   relationship  ...  \
0           Adm-clerical          f    Not_in_family        Masters  ...
1       transport-moving          f    Not_in_family   Some-college  ...
2                  Sales          f    Not_in_family   Some-college  ...
3           Craft-repair          f          Husband   Some-college  ...
4      Machine-op-inspct          f          Husband   Some-college  ...
5         Prof-specialty          f          Husband        HS-grad  ...
6           Craft-repair          f   Other_relative        HS-grad  ...
7      Handlers-cleaners          f        Own_child        HS-grad  ...
8      Machine-op-inspct          f          Husband        HS-grad  ...
9          Other-service          f          Husband        HS-grad  ...
10        Prof-specialty          f    Not_in_family        Masters  ...
11          Adm-clerical          f        Unmarried        HS-grad  ...
12       farming-fishing          f        Unmarried           10th  ...
13         Other-service          f          Husband        HS-grad  ...
14       farming-fishing          f          Husband        7th-8th  ...
15          Craft-repair          f          Husband   Some-college  ...
16     Machine-op-inspct          f    Not_in_family        HS-grad  ...
17     Machine-op-inspct          f    Not_in_family        HS-grad  ...
18        Prof-specialty          f             Wife        Masters  ...
19     Handlers-cleaners          f        Own_child        HS-grad  ...
20     Handlers-cleaners          f        Own_child        HS-grad  ...
21          Craft-repair          f          Husband        HS-grad  ...
22       Exec-managerial          f          Husband        Masters  ...
23      transport-moving          f    Not_in_family        HS-grad  ...
24        Prof-specialty          f        Own_child      Bachelors  ...
25          Adm-clerical          f    Not_in_family   Some-college  ...
26        Prof-specialty          f          Husband        Masters  ...
27        Prof-specialty          f          Husband        Masters  ...
28      transport-moving          f          Husband   Some-college  ...
29       Protective-serv          f    Not_in_family           11th  ...
...                  ...        ...              ...            ...  ...
3903   Handlers-cleaners          f        Own_child        HS-grad  ...
3904        Craft-repair          f    Not_in_family      Bachelors  ...
3905        Craft-repair          f    Not_in_family      Bachelors  ...
3906        Craft-repair          f    Not_in_family        HS-grad  ...
3907        Craft-repair          f        Unmarried   Some-college  ...
3908        Adm-clerical          f    Not_in_family        HS-grad  ...
3909       Other-service          f    Not_in_family        HS-grad  ...
3910     farming-fishing          f    Not_in_family        HS-grad  ...
3911       Other-service          f          Husband        HS-grad  ...
3912    transport-moving          f    Not_in_family        HS-grad  ...
3913        Adm-clerical          f    Not_in_family      Bachelors  ...
3914     farming-fishing          f          Husband   Some-college  ...
3915     Exec-managerial          f        Unmarried        Masters  ...
3916        Craft-repair          f          Husband   Some-college  ...
3917               Sales          f        Unmarried        HS-grad  ...
3918       Other-service          f   Other_relative           10th  ...
3919     Exec-managerial          f          Husband    Prof-school  ...
3920        Craft-repair          f        Own_child        HS-grad  ...
3921   Machine-op-inspct          f        Unmarried           10th  ...
3922        Adm-clerical          f        Own_child   Some-college  ...
3923      Prof-specialty          f             Wife      Assoc-voc  ...
3924       Other-service          f        Own_child           11th  ...
3925     farming-fishing          f        Own_child   Some-college  ...
3926        Adm-clerical          f    Not_in_family        HS-grad  ...
3927        Craft-repair          f        Own_child   Some-college  ...
3928    transport-moving          f          Husband        HS-grad  ...
3929      Prof-specialty          f    Not_in_family      Bachelors  ...
3930        Adm-clerical          t    Not_in_family   Some-college  ...
3931    transport-moving          f          Husband        7th-8th  ...
3932        Craft-repair          f        Own_child   Some-college  ...

     hours-per-week capital-loss kurtosis_glucose kurtosis_oxygen  \
0           2.45188    -0.227166         0.754423         3.51302
1           1.19065    -0.227166        -0.241071         8.40249
2          0.774601    -0.227166          2.04614         1.04252
3          -2.72741    -0.227166        0.0867718         10.5089
4           2.45188    -0.227166        0.0251794         12.5953
5        -0.0497329    -0.227166         0.541434          5.3596
6        -0.0497329    -0.227166        -0.405807         8.17374
7        -0.0497329    -0.227166          1.17133          5.2558
8         -0.861678    -0.227166          2.01402         0.96979
9        -0.0497329    -0.227166        -0.238702         16.8346
10       -0.0497329      4.40207        -0.322082         23.6585
11       -0.0497329    -0.227166          1.43155         1.36964
12          2.45188    -0.227166         -0.56101        0.982958
13       -0.0497329    -0.227166         -0.50193         14.2153
14       -0.0497329    -0.227166        -0.385101         9.83991
15       -0.0497329    -0.227166       -0.0629347         13.7498
16       -0.0497329    -0.227166        -0.625479         8.74728
17       -0.0497329    -0.227166        -0.641751         9.12085
18        -0.457444    -0.227166        -0.377137         8.85868
19        -0.294752    -0.227166         0.952712         6.17167
20        -0.861678    -0.227166        -0.263012         14.2856
21         -3.08356    -0.227166        -0.679292         5.28094
22            1.609    -0.227166          1.82261         1.96823
23         0.443552    -0.227166        -0.607701         20.0839
24          -2.0471    -0.227166         -1.24198         8.33417
25          -2.0471    -0.227166        -0.444837          14.934
26         0.361054    -0.227166        -0.140599         7.28571
27       -0.0497329    -0.227166        -0.723758           4.298
28       -0.0497329    -0.227166       -0.0788019         18.0554
29       -0.0497329    -0.227166        -0.306945         8.97864
...             ...          ...              ...             ...
3903     -0.0497329    -0.227166          1.75656        0.931728
3904       0.361054    -0.227166        -0.827048       -0.174835
3905     -0.0497329    -0.227166        -0.989664         6.76936
3906       0.114232    -0.227166        0.0406925         8.96143
3907     -0.0497329    -0.227166        -0.600306         5.85855
3908     -0.0497329    -0.227166         -0.68711         8.53028
3909     -0.0497329    -0.227166        -0.296854         4.10251
3910         4.9349    -0.227166          1.84022       0.0761661
3911      -0.457444    -0.227166        -0.560479         12.5779
3912     -0.0497329      4.40207        -0.314939          14.188
3913     -0.0497329    -0.227166         0.609935         3.14119
3914        2.02946    -0.227166         0.262838         22.1494
3915     -0.0497329    -0.227166          1.29519         1.09575
3916       -2.27746    -0.227166        -0.626899         6.90641
3917     -0.0497329    -0.227166         0.239398         15.3554
3918      -0.861678    -0.227166        0.0575112         9.16901
3919     -0.0497329    -0.227166         0.393453         9.54885
3920     -0.0497329    -0.227166       -0.0648144         6.20826
3921     -0.0497329    -0.227166        -0.608534         13.3677
3922       -2.42926    -0.227166         -1.29135         5.99414
3923        -2.0471      4.40207       -0.0820178         15.1998
3924        -2.0471    -0.227166         0.879233         1.97382
3925       0.774601    -0.227166        -0.267048         7.86669
3926       0.608869    -0.227166          1.98451       0.0190159
3927     -0.0497329    -0.227166         -0.78452         6.46411
3928     -0.0497329    -0.227166         0.135502         2.39892
3929        1.19065    -0.227166          1.78486         4.77233
3930     -0.0497329    -0.227166        -0.266656         5.87621
3931       0.361054    -0.227166          1.69147        0.558779
3932        -1.6574    -0.227166        -0.211722         5.14751

     mean_glucose mean_oxygen skewness_glucose skewness_oxygen std_glucose  \
0         95.3516     14.1037          3.35128          11.306     41.8288
1         111.164     2.90217         -0.14194         79.6189     51.8022
2         14.4609     57.3821          42.0254        0.231636     29.3877
3         107.797     1.91054           1.6726         120.443     41.5627
4         111.484      1.5995        -0.116594         226.699     53.0683
5         91.8359     6.79849          2.20971         28.4114     42.7615
6         112.008     2.84365        -0.447539         83.2553      54.192
7         65.5391     6.83612          9.02327         27.1446     33.7076
8         22.3125     66.9607          40.2228       0.0873325     30.5112
9         110.406     1.04013         0.210545         366.968     49.0684
10         122.25    0.447324          1.50029         596.853     35.2198
11        65.2031     44.5209          12.8045        0.316789      33.164
12        131.922     50.1455        -0.272863       -0.648081     50.5561
13        121.656     1.04599        0.0656978          237.79     46.2219
14        122.797     2.32023        -0.311661         129.265     52.9846
15        111.602     1.60786       -0.0256404         269.103     52.4372
16        126.266     2.94314        -0.132231          87.072     53.5208
17        133.078     2.27676         0.488897         103.877     43.4901
18        121.453     2.57441        -0.307962          102.76     56.8104
19        75.4375     5.53177          5.28418         38.3537     38.4833
20        103.391     1.48411           1.2055         290.415     38.8012
21        126.234     6.25418         -0.41858         30.1488     51.1087
22             32     32.1513          24.4146          3.4285     34.0315
23         101.32    0.741639          0.19342          489.87     49.5669
24        139.984     2.85201       -0.0400711         84.2516     49.5183
25        103.945     1.19816         0.457442          289.55     45.7019
26        94.6953     3.45987         0.153277         53.7694     46.5751
27        113.219     8.46237       -0.0958677         18.0755     46.6714
28        106.828    0.780936        -0.145018         376.596     52.5034