In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import dateutil.parser as parser
from sklearn.impute import SimpleImputer as Imputer
from sklearn.neighbors import NearestNeighbors as neigh
from sklearn.neighbors import KNeighborsRegressor as neigh
from sklearn.model_selection import train_test_split as split
from math import sqrt
from sklearn import metrics
import json

In [2]:
data = pd.read_csv("./data/other_train.csv",index_col=0)

dict_array = []
string = '{"mean_glucose": 9999999,"std_glucose": 9999999,"kurtosis_glucose":9999999,"skewness_glucose":9999999,"mean_oxygen":9999999,"std_oxygen":9999999,"kurtosis_oxygen":9999999,"skewness_oxygen":9999999}'
data.medical_info.apply(lambda x: dict_array.append(json.loads(x.replace("'","\"").replace(":\"",":").replace("\",",",").replace("\"}","}") if isinstance(x,str) else string)))
medical_datas = pd.DataFrame(dict_array)

for item in medical_datas:
    data[item] = medical_datas[item].astype(float)

In [3]:
person = pd.read_csv("./data/personal_train.csv", index_col=0)

numeric = pd.DataFrame()
categoric = pd.DataFrame()

for column in data:
    if data[column].dtype == np.float64 or data[column].dtype == np.int64:
        numeric[column] = data[column]
    else:
        categoric[column] = data[column]
        
print(numeric.dtypes)
print('\n')
print(categoric.dtypes)

education-num       float64
capital-gain        float64
fnlwgt              float64
class               float64
hours-per-week      float64
capital-loss        float64
kurtosis_glucose    float64
kurtosis_oxygen     float64
mean_glucose        float64
mean_oxygen         float64
skewness_glucose    float64
skewness_oxygen     float64
std_glucose         float64
std_oxygen          float64
dtype: object


name              object
address           object
race              object
marital-status    object
occupation        object
pregnant          object
relationship      object
education         object
income            object
medical_info      object
native-country    object
workclass         object
dtype: object

In [4]:
# Stary parser
# numeric = numeric.replace([' ?','??',' ','?',' ??',None],np.NaN,regex=True)
# categoric = categoric.replace({'^[? ]*$' : None},regex=True)

numeric = numeric.replace({ 9999999 : np.nan },regex=False)
categoric = categoric.replace({'^[? ]*$' : np.nan},regex=True)

categoric.info()
numeric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 12 columns):
name              3983 non-null object
address           3983 non-null object
race              3970 non-null object
marital-status    3965 non-null object
occupation        3731 non-null object
pregnant          3961 non-null object
relationship      3967 non-null object
education         3967 non-null object
income            3965 non-null object
medical_info      3964 non-null object
native-country    3905 non-null object
workclass         3366 non-null object
dtypes: object(12)
memory usage: 404.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 14 columns):
education-num       3962 non-null float64
capital-gain        3970 non-null float64
fnlwgt              3966 non-null float64
class               3966 non-null float64
hours-per-week      3968 non-null float64
capital-loss        3969 non-null float64
kurtosis_glucose    3964 non-null float64
kurtosis_oxygen     3964 non-null float64
mean_glucose        3964 non-null float64
mean_oxygen         3964 non-null float64
skewness_glucose    3964 non-null float64
skewness_oxygen     3964 non-null float64
std_glucose         3964 non-null float64
std_oxygen          3964 non-null float64
dtypes: float64(14)
memory usage: 466.8 KB

In [5]:
numeric['name'] = data['name']
print(numeric.dtypes)
print(numeric)
print('\n')
print(categoric.dtypes)
print(categoric)

education-num       float64
capital-gain        float64
fnlwgt              float64
class               float64
hours-per-week      float64
capital-loss        float64
kurtosis_glucose    float64
kurtosis_oxygen     float64
mean_glucose        float64
mean_oxygen         float64
skewness_glucose    float64
skewness_oxygen     float64
std_glucose         float64
std_oxygen          float64
name                 object
dtype: object
      education-num  capital-gain    fnlwgt  class  hours-per-week  \
0               9.0           0.0  183279.0    0.0            40.0
1              10.0           0.0  130724.0    1.0            25.0
2              10.0           0.0  180284.0    0.0            50.0
3              13.0           0.0  126060.0    0.0            40.0
4               7.0           0.0  274657.0    1.0            40.0
5              14.0           0.0  156743.0    0.0            76.0
6              11.0           0.0  249463.0    1.0            20.0
7              10.0           0.0  219086.0    0.0            55.0
8              10.0           0.0  288154.0    0.0            89.0
9              12.0       14084.0  175653.0    1.0            40.0
10              9.0           0.0  117507.0    0.0            45.0
11             10.0           0.0  423561.0    0.0            40.0
12             14.0        8614.0  287031.0    0.0            40.0
13              4.0           0.0  170411.0    0.0            40.0
14              9.0           0.0  152140.0    0.0            40.0
15              4.0           0.0  193884.0    0.0            40.0
16             13.0        4416.0  114758.0    0.0            45.0
17             13.0           0.0  409922.0    1.0            50.0
18              9.0           0.0  192596.0    0.0            30.0
19             10.0           0.0  179010.0    0.0            60.0
20             11.0           0.0  255027.0    0.0            40.0
21             10.0        2407.0  143068.0    0.0            50.0
22             10.0           0.0   73715.0    1.0            40.0
23             14.0           0.0   35211.0    1.0            40.0
24             10.0           0.0  100587.0    0.0            15.0
25             10.0           0.0  194723.0    0.0            40.0
26              9.0           0.0   54932.0    0.0            40.0
27             11.0           0.0  239806.0    0.0            40.0
28             10.0           0.0  163665.0    0.0            17.0
29              9.0           0.0  312477.0    0.0            40.0
...             ...           ...       ...    ...             ...
3953           13.0           0.0  338409.0    0.0            40.0
3954           13.0           0.0  192337.0    0.0            50.0
3955           14.0           0.0  191978.0    0.0            50.0
3956           13.0       15024.0  213945.0    0.0            40.0
3957           13.0       15024.0  215404.0    0.0            40.0
3958           14.0           0.0  179731.0    0.0            65.0
3959           10.0           0.0  253062.0    0.0            40.0
3960           14.0        7298.0  199995.0    0.0            60.0
3961            9.0        4064.0  285750.0    0.0            55.0
3962           10.0           0.0  271446.0    0.0            25.0
3963           13.0           0.0  277420.0    0.0            40.0
3964            9.0           0.0  339772.0    1.0            40.0
3965            NaN           0.0  226629.0    0.0            40.0
3966            3.0           0.0  258700.0    0.0            40.0
3967            7.0           0.0  300528.0    0.0            40.0
3968           14.0           0.0   30682.0    0.0            50.0
3969            9.0           0.0  108907.0    1.0            40.0
3970           11.0           0.0  285775.0    1.0            40.0
3971            9.0           0.0  224185.0    0.0            40.0
3972           15.0           0.0  198841.0    0.0            50.0
3973           14.0           0.0  225504.0    1.0            40.0
3974            9.0           0.0  210311.0    0.0            20.0
3975            9.0           0.0  168071.0    0.0            45.0
3976            9.0           0.0  259284.0    0.0            50.0
3977            9.0           0.0  162814.0    0.0            45.0
3978            9.0           0.0   29814.0    0.0            50.0
3979           13.0           0.0       NaN    0.0            55.0
3980           12.0           0.0  119992.0    0.0            45.0
3981           13.0           0.0  139992.0    0.0            40.0
3982           10.0           0.0  167033.0    0.0            40.0

      capital-loss  kurtosis_glucose  kurtosis_oxygen  mean_glucose  \
0              0.0          0.125276         8.165360    117.507812
1              0.0          3.968126         0.871271     16.539062
2              0.0          0.193887         8.937473    126.617188
3              0.0          0.201450        20.979174    132.773438
4              0.0          0.350437         3.937302    100.656250
5              0.0          0.802608         7.988966    100.476562
6              0.0          2.988502         0.476516     63.695312
7              0.0          0.252481        12.138534    117.937500
8              0.0          0.095649         7.022261    132.515625
9              0.0          1.128441         0.238321     96.546875
10             0.0          0.291791         9.944732    118.703125
11             0.0          0.379892        18.055405    106.828125
12             0.0          2.444048         0.368701     57.312500
13             0.0          0.109693         9.586310    118.109375
14             0.0         -0.038844        16.793339    137.398438
15             0.0          0.457031        12.406275    105.273438
16             0.0         -0.041624        -0.174835    133.296875
17          1977.0          0.605275         4.088567     91.734375
18             0.0         -1.117342        -0.085736    161.304688
19             0.0         -0.052151        11.391586    130.226562
20             0.0         -0.226946         8.975833    143.296875
21             0.0          0.179065         8.077029    123.210938
22             0.0          1.803868         2.694580     75.531250
23             0.0          3.082019         1.776026     51.281250
24             0.0          0.224081         9.580934    115.523438
25             0.0          0.651394        10.922976     80.476562
26             0.0          0.205148        10.763798    101.421875
27             0.0         -0.134221         9.140447    148.242188
28             0.0          0.077021         7.330814    132.429688
29          1887.0          0.427691         7.888130     96.375000
...            ...               ...              ...           ...
3953           0.0          0.242974         8.421528    119.179688
3954           0.0         -0.044154        22.835603    121.132812
3955        2392.0          0.406708        16.478377    101.101562
3956           0.0          0.009230         8.601451    121.687500
3957           0.0          0.133343         5.205606    138.968750
3958        2415.0          0.058561         7.461743    107.929688
3959           0.0         -0.165525         7.151610    144.140625
3960           0.0          0.341094         7.034064     95.929688
3961           0.0          0.340797         9.485308    102.867188
3962           0.0          0.339418        10.031637    110.210938
3963           0.0          0.188709         8.447488    130.921875
3964           0.0          2.107809         5.862879     68.101562
3965           0.0         -0.052952        12.772108    127.945312
3966           0.0          0.039287        11.763903    133.710938
3967           0.0          0.320768        10.856773    121.242188
3968           0.0          0.391007         4.180335    103.804688
3969           0.0          6.172109         0.204406      8.109375
3970           0.0          0.486548         2.474524    120.890625
3971           0.0          0.260262         7.198488    117.179688
3972           0.0          0.171736         9.086361    117.875000
3973           0.0          0.693495         2.452364    106.937500
3974           0.0          0.285994        -0.074639    112.406250
3975           0.0          0.708503         7.810546    116.281250
3976           0.0          0.262176         7.802001    110.234375
3977           0.0          0.160776         9.223686    123.898438
3978           0.0          0.694631         7.788552     92.031250
3979           NaN         -0.921974         0.424477    172.562500
3980           0.0          0.044799         6.443271    118.273438
3981           0.0          0.290871         8.930296    123.960938
3982           0.0          0.284368         9.668452    115.617188

      mean_oxygen  skewness_glucose  skewness_oxygen  std_glucose  std_oxygen  \
0        2.785953          0.773516        82.956766    40.788516   16.660218
1      109.183110         15.398741         0.488218    42.744865   53.137096
2        2.232441          0.162133        95.093257    49.077764   15.860211
3        0.522575          0.087837       474.263227    45.895808    9.779098
4       10.305184          0.282474        15.001139    45.964225   38.965850
5        3.611204          0.633112        67.413114    53.202732   23.467657
6       86.353679         15.509307        -1.406446    31.297354   93.174313
7        1.390468         -0.221498       158.969317    51.842573   15.009937
8        3.505853         -0.290893        57.730999    51.123164   19.324655
9       88.474916          2.583045        -1.546454    39.516978   87.972205
10       2.391304          0.299325       129.897771    46.931359   14.753744
11       0.780936         -0.145018       376.596087    52.503439   10.450177
12      96.128763         10.093518        -0.981237    34.388804   79.734804
13       2.298495          0.325105       117.319346    42.514195   14.436588
14       0.933110         -0.175691       349.095799    45.965568   10.307831
15       1.336120          0.549780       167.441533    44.943665   14.562829
16      95.984114         -0.318092        -1.898848    53.653308   86.557493
17       9.842809          0.604172        15.468653    47.215842   40.384259
18      99.387124          0.638825        -1.624898    58.737440   84.643032
19       1.643813          0.708950       169.656680    42.123742   12.666822
20       2.869565          0.285097        89.344755    45.045179   19.340066
21       2.789298         -0.475249        86.604107    54.120908   15.351536
22      21.518395          5.474290         6.362507    38.670672   54.845211
23      36.928930         12.044854         1.736655    38.008827   71.395777
24       2.255017          0.758981       106.188097    43.391201   17.386931
25       1.830268          2.605016       133.855171    37.707751   15.473803
26       1.785117          0.165603       121.140657    46.138143   17.935405
27       2.911371         -0.103224        89.712701    45.683139   21.363485
28       3.071906         -0.214522        64.504717    48.438699   17.820871
29       2.903010          0.726765        78.152277    42.779595   16.513316
...           ...               ...              ...          ...         ...
3953     2.670569         -0.117536       100.675014    50.076104   14.363654
3954     0.472408         -0.377187       563.348438    53.404759    9.256386
3955     0.908863          0.064950       326.642365    47.028223   10.582968
3956     2.612040          0.101450       101.188573    46.470715   14.561196
3957     7.759197          0.255743        25.157620    45.367757   41.751581
3958     3.986622         -0.482555        60.423616    53.134585   23.979119
3959     3.810201         -0.321028        54.760601    54.381427   23.728853
3960     3.752508          1.128982        50.635183    40.243242   24.644576
3961     2.190635         -0.527127       114.266384    58.717727   14.676744
3962     2.194816          1.207183       142.523908    39.059580   13.048777
3963     2.565217         -0.393521        88.024210    54.608780   15.882878
3964     5.709866          8.442368        34.599675    34.948364   31.010710
3965     1.520067         -0.356391       204.311688    49.202278   12.558110
3966     1.579431         -0.191934       170.407863    50.652022   13.489047
3967     1.928930          0.614311       150.586972    45.546293   13.347458
3968    10.178094         -0.219591        16.538033    51.882237   41.454906
3969   111.352007         39.094605        -1.189458    33.709057   72.147916
3970    22.352843          0.016002         4.683490    51.212369   58.234670
3971     3.102007          0.191550        65.675563    47.248088   16.885795
3972     2.596154         -0.279978       107.835518    54.222775   15.103930
3973    24.216555          0.070838         4.601263    54.518023   62.034520
3974    90.637124          0.092750        -1.925151    50.264680   85.955181
3975     3.675585          1.659615        68.178106    39.581391   22.291399
3976     3.124582         -0.057944        68.519624    49.042310   19.661866
3977     2.414716         -0.084777       114.603643    45.991650   14.286553
3978     2.987458          1.746994        76.894261    39.015609   16.477481
3979    96.241639          1.363436        -1.619877    43.713154  104.775493
3980     4.069398         -0.108468        52.803754    50.283993   19.225411
3981     2.253344         -0.392737        90.443459    56.225606   17.119349
3982     2.164716         -0.008721       117.340668    45.449684   14.733943

                     name
0      Clarence Rodriguez
1             Manuel Boyd
2          Charles Arthur
3          Carl Dobransky
4          Thomas Oconnor
5              Roy Parker
6          Brandon Thomas
7         Matthew Clement
8          Salvador Simon
9           Randy Sheeley
10           Joseph Olson
11           Harold Odowd
12        James Gutierrez
13              Toby Sims
14          Charles Rozon
15              Guy Myers
16           Charles Gray
17     Zachary Grandfield
18            Floyd Smith
19    Timothy Shakespeare
20          David Ritchie
21        Frederick Gomez
22             Lee Gibson
23         Dominic Graham
24       Michael Williams
25          Darryl Thorne
26            Wally Suggs
27        Raymond Coleman
28       William Robinson
29         Patrick Cooper
...                   ...
3953          Mark Whalen
3954           Heath Boyd
3955      Cary Montgomery
3956     Nathaniel Kehres
3957        Marvin Martin
3958         Thomas Whish
3959       Robert Michels
3960           Jeff Smith
3961            Don Brann
3962         Louie Payton
3963          David Parks
3964        Joshua Mathes
3965        Justin Thomas
3966       Graham Sonnier
3967       Timothy Sexton
3968          John Hughes
3969        Ryan Delacruz
3970        Alfonzo Henry
3971       Jeremy Walczak
3972       Bryon Gallegos
3973       William Booker
3974          Steven Hall
3975         Timothy Cook
3976           Joe Arnold
3977        Virgil Mallon
3978        Michael Gibbs
3979       Ronald Nolasco
3980          Daniel Bell
3981       Joshua Goodwin
3982       Howard Benally

[3983 rows x 15 columns]


name              object
address           object
race              object
marital-status    object
occupation        object
pregnant          object
relationship      object
education         object
income            object
medical_info      object
native-country    object
workclass         object
dtype: object
                     name                                            address  \
0      Clarence Rodriguez        6931 Anthony Island\r\nTaylorland, NH 14540
1             Manuel Boyd  50488 Timothy Knolls\r\nNorth Brittanyborough,...
2          Charles Arthur  247 Johnson Roads Apt. 514\r\nPort Sarahton, W...
3          Carl Dobransky         102 Taylor Trace\r\nNew Jennifer, RI 87597
4          Thomas Oconnor                       USNV Skinner\r\nFPO AE 19822
5              Roy Parker  00682 Kelly Plains\r\nEast Richardborough, CT ...
6          Brandon Thomas            3591 Tran Tunnel\r\nLake Lisa, MT 26529
7         Matthew Clement        3329 Crystal View\r\nLake Bradley, WY 40642
8          Salvador Simon   270 Allen Stream Apt. 761\r\nLisamouth, AR 72232
9           Randy Sheeley      058 Jessica Stravenue\r\nDavidmouth, WV 40786
10           Joseph Olson  009 Sandra Greens Apt. 588\r\nWrightstad, DC 1...
11           Harold Odowd  7842 Curtis Vista Apt. 188\r\nLake Samuelburgh...
12        James Gutierrez  568 Cook Mill Apt. 942\r\nAndersonmouth, SC 68838
13              Toby Sims   564 Perez Spur Apt. 715\r\nLake Monica, KS 48257
14          Charles Rozon  223 Patrick Lights Suite 932\r\nLisashire, WY ...
15              Guy Myers  274 Adam Light Apt. 580\r\nNew Kevinshire, AL ...
16           Charles Gray     82950 Harding Knolls\r\nMcmahonburgh, ID 09644
17     Zachary Grandfield  77606 Maxwell Rest Apt. 485\r\nPort Jennifer, ...
18            Floyd Smith        9614 Bruce Island\r\nElliottmouth, KS 51950
19    Timothy Shakespeare            176 King Highway\r\nKaramouth, HI 10786
20          David Ritchie          67605 Sean Road\r\nEast Cynthia, GA 13144
21        Frederick Gomez                      USNV Thompson\r\nFPO AA 12825
22             Lee Gibson        0804 Austin Squares\r\nPort Craig, NM 17735
23         Dominic Graham      48686 Marquez Greens\r\nNew Christy, NC 36543
24       Michael Williams           4223 Mary Vista\r\nDanaborough, NY 09395
25          Darryl Thorne        97963 Frazier Groves\r\nNew James, MA 99291
26            Wally Suggs    618 Mallory Throughway\r\nGrayborough, OK 18624
27        Raymond Coleman            88066 Le Walks\r\nGarciamouth, IN 87118
28       William Robinson  78761 Jones Lake Apt. 310\r\nHawkinstown, NY 1...
29         Patrick Cooper        436 White Island\r\nEast Kimberly, OH 95066
...                   ...                                                ...
3953          Mark Whalen  5455 Livingston Groves Apt. 549\r\nNorth Rober...
3954           Heath Boyd  03546 Joseph Station Suite 958\r\nLake Michael...
3955      Cary Montgomery  73410 Kirk Courts Suite 946\r\nErinview, AZ 39770
3956     Nathaniel Kehres  892 Hess Station Suite 513\r\nKatieland, GA 14934
3957        Marvin Martin  43099 Michelle Extension\r\nFranklinville, NC ...
3958         Thomas Whish                         USS Obrien\r\nFPO AE 57226
3959       Robert Michels   75067 Megan Spur Suite 749\r\nTroyside, DC 04250
3960           Jeff Smith                 Unit 1945 Box 7777\r\nDPO AE 49014
3961            Don Brann           012 Juarez Union\r\nPort Jason, WV 08629
3962         Louie Payton   158 Laura Causeway Apt. 178\r\nRoytown, WA 42950
3963          David Parks          14221 James Fall\r\nThorntonton, AK 21145
3964        Joshua Mathes                 PSC 0008, Box 7187\r\nAPO AP 08203
3965        Justin Thomas  25935 Guzman Village Suite 192\r\nLake Christo...
3966       Graham Sonnier     3771 Benjamin Roads\r\nMaldonadofurt, LA 52280
3967       Timothy Sexton                 PSC 7866, Box 3941\r\nAPO AE 38197
3968          John Hughes  3998 Laura Oval Suite 603\r\nNewmanshire, ME 3...
3969        Ryan Delacruz          7522 Wheeler Wall\r\nLake Scott, AL 00733
3970        Alfonzo Henry  5632 Devon Locks Suite 601\r\nWest Jonathan, G...
3971       Jeremy Walczak  1400 Shields Islands Apt. 484\r\nLake Davidpor...
3972       Bryon Gallegos         7923 Perez Route\r\nLake Vincent, MO 14843
3973       William Booker     023 Charles Stravenue\r\nJeremymouth, ND 02071
3974          Steven Hall     2838 David Extensions\r\nCarolynbury, MD 05792
3975         Timothy Cook         31748 Sara Valley\r\nOsbornefort, AZ 75654
3976           Joe Arnold           129 Adam Freeway\r\nParkerstad, OK 07966
3977        Virgil Mallon                 PSC 6279, Box 0227\r\nAPO AP 95861

In [6]:
numeric = numeric.groupby('name').aggregate('mean')

categoric = categoric.groupby('name').aggregate('first')

other = categoric.merge(numeric, on=['name'])
other

,address,race,marital-status,occupation,pregnant,relationship,education,income,medical_info,native-country,...,hours-per-week,capital-loss,kurtosis_glucose,kurtosis_oxygen,mean_glucose,mean_oxygen,skewness_glucose,skewness_oxygen,std_glucose,std_oxygen
name,,,,,,,,,,,,,,,,,,,,,
Aaron Davis,"379 Rodriguez Inlet\r\nFisherbury, MD 83114",Asian-Pac-Islander,Married-civ-spouse,Craft-repair,f,Husband,Some-college,>50K,"{'mean_glucose':'111.5546875','std_glucose':'5...",United-States,...,40.0,0.0,0.390191,21.400696,111.554688,0.530936,-0.176512,479.743759,52.480772,10.232655
Aaron Dini,"105 Medina Springs Suite 462\r\nEmilyland, KS ...",White,Divorced,Machine-op-inspct,F,Unmarried,HS-grad,<=50K,"{'mean_glucose':'110.2578125','std_glucose':'5...",United-States,...,40.0,0.0,0.280454,10.702973,110.257812,2.142140,-0.260235,149.848180,56.334554,13.440810
Aaron Gann,59685 Thomas Extension Apt. 142\r\nFieldsborou...,White,Married-civ-spouse,Sales,FALSE,Husband,Bachelors,<=50K,"{'mean_glucose':'128.1875','std_glucose':'49.8...",United-States,...,40.0,0.0,-0.016114,12.270117,128.187500,1.683946,-0.322560,198.354692,49.815088,12.169941
Aaron Gregg,"10883 Williams Locks Suite 821\r\nEast Carmen,...",White,Divorced,Craft-repair,f,Not-in-family,HS-grad,<=50K,"{'mean_glucose':'101.3828125','std_glucose':'5...",United-States,...,40.0,0.0,0.361766,8.375144,101.382812,3.933110,-0.168472,80.188004,51.082672,21.785797
Aaron Lindley,"564 Stevenson Park Apt. 839\r\nRodriguezville,...",White,Never-married,Sales,f,Own-child,Some-college,<=50K,"{'mean_glucose':'75.640625','std_glucose':'34....",United-States,...,35.0,0.0,1.073438,5.188312,75.640625,6.118729,4.466385,28.565339,34.337192,28.610537
Aaron Manning,"9503 Christy Meadow\r\nAntoniostad, DC 31369",White,Never-married,Prof-specialty,f,Not-in-family,Bachelors,<=50K,"{'mean_glucose':'126.5546875','std_glucose':'4...",United-States,...,40.0,0.0,0.105554,3.608318,126.554688,11.919732,0.016703,12.289702,48.738590,41.445156
Aaron Moody,"5443 Kurt Estate\r\nHillbury, MS 07587",White,Married-civ-spouse,Exec-managerial,f,Husband,Some-college,<=50K,"{'mean_glucose':'122.9609375','std_glucose':'5...",United-States,...,20.0,0.0,-0.100267,13.478446,122.960938,1.456522,-0.245821,248.420253,50.770840,11.160307
Aaron Noman,"PSC 0351, Box 8841\r\nAPO AA 86063",White,Married-civ-spouse,Sales,f,Husband,Some-college,>50K,"{'mean_glucose':'125.6875','std_glucose':'54.4...",United-States,...,40.0,0.0,0.065459,6.475870,125.687500,3.986622,-0.538646,45.207830,54.400676,23.026627
Aaron Robinson,"16767 Medina Manor Suite 889\r\nCarlosshire, M...",White,Never-married,Transport-moving,T,Own-child,HS-grad,<=50K,"{'mean_glucose':'99.7578125','std_glucose':'41...",United-States,...,30.0,0.0,0.634865,8.910677,99.757812,2.622910,0.992106,89.312679,41.409869,18.614801
Aaron Rogers,"3257 Jones Center Apt. 917\r\nSeanland, OH 20838",White,Never-married,Sales,f,Own-child,HS-grad,<=50K,"{'mean_glucose':'112.8984375','std_glucose':'5...",United-States,...,40.0,0.0,0.289801,2.734003,112.898438,18.232441,-0.212867,6.620490,54.236871,47.545554
Aaron Spriggs,"0988 Jeffrey Shoal Apt. 378\r\nMelissatown, DE...",White,Married-civ-spouse,Handlers-cleaners,FALSE,Husband,Assoc-voc,<=50K,"{'mean_glucose':'51.578125','std_glucose':'34....",United-States,...,80.0,0.0,3.231698,4.193491,51.578125,10.168896,15.344799,17.266369,34.267242,39.937324
Abel Love,40589 Brian Streets Apt. 190\r\nPort Lindseyfo...,White,Never-married,Other-service,f,Own_child,HS-grad,<=50K,"{'mean_glucose':'128.0234375','std_glucose':'4...",United-States,...,37.0,0.0,0.170496,9.603359,128.023438,2.332776,-0.067414,126.464546,44.114458,13.698606
Abraham Hefty,"21291 Beard Place\r\nSarahshire, TX 38497",White,Married-civ-spouse,Exec-managerial,f,Husband,Masters,>50K,"{'mean_glucose':'81.453125','std_glucose':'34....",United-States,...,46.0,0.0,0.670556,4.893755,81.453125,6.805184,3.982473,23.580717,34.353143,31.999106
Abraham Winkles,"78263 Jennifer Road\r\nWilliamsmouth, ME 37642",White,Never-married,Machine-op-inspct,f,Not-in-family,9th,<=50K,"{'mean_glucose':'91.34375','std_glucose':'48.2...",United-States,...,40.0,0.0,0.590784,10.945327,91.343750,1.984950,0.555097,149.847754,48.223347,14.364106
Adalberto Daughters,Unit 7931 Box 0601\r\nDPO AE 50505,Asian-Pac-Islander,Never-married,NaN,f,Own-child,Some-college,<=50K,"{'mean_glucose':'124.796875','std_glucose':'45...",China,...,20.0,0.0,0.286940,5.147508,124.796875,5.556020,-0.171916,28.112212,45.098046,25.383995
Adam Baskerville,USS Donovan\r\nFPO AA 95439,Black,Separated,Sales,f,Unmarried,5th-6th,<=50K,"{'mean_glucose':'130.8984375','std_glucose':'4...",Puerto-Rico,...,30.0,0.0,-0.140704,10.237197,130.898438,2.078595,0.482050,144.634952,42.944339,13.059121
Adam Baugh,"285 Rodney Center Suite 670\r\nGregorystad, NH...",Black,Never-married,Adm-clerical,f,Own-child,Some-college,<=50K,"{'mean_glucose':'127.015625','std_glucose':'47...",United-States,...,20.0,0.0,-0.018505,6.456406,127.015625,4.825251,-0.386956,46.197894,47.098299,25.046820
Adam Bermudez,"50679 Kirk Summit\r\nNew Ashleyshire, IN 36901",White,Never-married,NaN,f,Not-in-family,HS-grad,<=50K,"{'mean_glucose':'48.0','std_glucose':'33.12523...",United-States,...,40.0,0.0,3.232483,0.678814,48.000000,69.980769,14.973286,0.096656,33.125236,62.086980
Adam Chipman,"15596 Linda Pine\r\nLake Kayla, MI 50632",White,Never-married,Other-service,f,Own-child,Some-college,<=50K,"{'mean_glucose':'39.1484375','std_glucose':'30...",United-States,...,30.0,0.0,4.004762,1.780299,39.148438,37.527592,23.308948,1.807952,30.328176,71.313747
Adam Daniel,"108 Timothy Bypass\r\nNew Jennifermouth, WY 19108",White,Married-civ-spouse,Sales,F,Husband,Some-college,>50K,"{'mean_glucose':'67.8046875','std_glucose':'32...",United-States,...,50.0,0.0,2.319887,2.556585,67.804688,23.818562,9.926356,5.325152,32.195462,59.167861
Adam Duncan,99550 Abigail View Suite 214\r\nSouth Angelafo...,White,Never-married,Handlers-cleaners,f,Own-child,HS-grad,<=50K,"{'mean_glucose':'61.671875','std_glucose':'36....",United-States,...,40.0,0.0,2.265221,6.072216,61.671875,5.593645,8.709981,38.235991,36.375453,29.623960
Adam George,"4520 Gomez Shores Suite 996\r\nDavidville, OK ...",White,Married-civ-spouse,Tech-support,f,Husband,Assoc-acdm,>50K,"{'mean_glucose':'138.1484375','std_glucose':'5...",United-States,...,40.0,0.0,-0.213882,4.375434,138.148438,8.404682,-0.419264,19.489882,57.183926,32.716837
Adam Kowal,"0135 Robert Burg Suite 124\r\nNew Rebecca, CO ...",White,Married-civ-spouse,Protective-serv,f,Husband,7th-8th,<=50K,"{'mean_glucose':'114.9921875','std_glucose':'4...",United-States,...,10.0,0.0,0.056864,8.339260,114.992188,2.775084,0.007851,74.382544,47.136851,20.390799
Adam Perry,"02726 Hale Lane\r\nLynchmouth, HI 33466",White,Married-civ-spouse,Sales,f,Husband,Bachelors,>50K,"{'mean_glucose':'19.8359375','std_glucose':'30...",United-States,...,40.0,0.0,6.005141,1.312655,19.835938,48.716555,37.937305,1.025156,30.270339,64.520556
Adam Porter,5112 Beth Streets Suite 249\r\nWest Michaelsta...,White,Married-civ-spouse,Sales,f,Husband,HS-grad,<=50K,"{'mean_glucose':'99.6484375','std_glucose':'30...",United-States,...,45.0,0.0,0.640919,10.386602,99.648438,1.861204,4.301999,119.609678,30.898420,16.253915
Adam Sprague,"7425 Patrick Harbor Apt. 093\r\nButlerport, NJ...",White,Married-civ-spouse,Prof-specialty,FALSE,Husband,Bachelors,>50K,"{'mean_glucose':'45.4609375','std_glucose':'31...",United-States,...,40.0,0.0,4.286203,2.042045,45.460938,32.349498,24.408326,2.616415,31.831073,70.760630
Adan Browder,"53754 Johnson Well Apt. 756\r\nPort Diane, AZ ...",White,Never-married,Adm-clerical,f,Own-child,11th,<=50K,"{'mean_glucose':'138.6796875','std_glucose':'4...",United-States,...,15.0,0.0,-0.194928,2.850335,138.679688,15.123746,-0.024402,7.485031,45.973317,42.678875
Adolfo Wamsley,USS Howard\r\nFPO AA 39583,White,Married-civ-spouse,Exec-managerial,f,Husband,HS-grad,<=50K,"{'mean_glucose':'117.4375','std_glucose':'47.6...",United-States,...,55.0,0.0,0.149848,9.672970,117.437500,2.445652,0.148917,120.469311,47.610685,14.678821
Adrian Alford,"46915 Knox Falls\r\nHannahberg, UT 92015",White,Never-married,Sales,f,Own-child,HS-grad,<=50K,"{'mean_glucose':'96.4921875','std_glucose':'43...",United-States,...,22.0,0.0,0.499402,10.730648,96.492188,2.037625,0.989876,126.263304,43.944033,17.577190
Adrian Alnutt,"8942 Kaufman Park\r\nJennifertown, AK 67798",White,Never-married,Craft-repair,f,Not-in-family,HS-grad,<=50K,"{'mean_glucose':'121.5','std_glucose':'43.9000...",United-States,...,44.0,0.0,0.131234,11.182485,121.500000,1.623746,0.242227,143.116217,43.900100,14.873960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Wright,"403 Marcia Islands\r\nSouth Nancyburgh, HI 70158",Black,Never-married,Prof-specialty,f,Other-relative,Assoc-acdm,<=50K,"{'mean_glucose':'61.0234375','std_glucose':'34...",United-States,...,40.0,0.0,2.213494,0.956490,61.023438,60.442308,8.911269,-0.456181,34.867039,75.028740
Willian Dishman,"442 Michael Spur\r\nCookmouth, OH 38560",White,Married-civ-spouse,Other-service,f,Husband,Some-college,<=50K,"{'mean_glucose':'128.921875','std_glucose':'47...",United-States,...,40.0,1485.0,-0.067438,12.256348,128.921875,1.530936,0.095442,167.074234,47.817624,15.496355
Willie Braithwaite,"729 Medina Hills\r\nJohnsonside, NV 57009",White,Separated,Prof-specialty,f,Unmarried,Doctorate,<=50K,"{'mean_glucose':'45.390625','std_glucose':'37....",Canada,...,10.0,0.0,3.789654,1.726343,45.390625,37.304348,17.408352,2.207775,37.437079,62.857627
Willie Brisson,"76510 Mike Way Apt. 082\r\nNew Steventon, CA 2...",White,Married-civ-spouse,Sales,f,Husband,Bachelors,>50K,"{'mean_glucose':'100.3984375','std_glucose':'3...",United-States,...,55.0,0.0,0.369518,8.520892,100.398438,2.649666,0.901278,74.554360,39.283692,21.387612
Willie Craig,"47477 James Island Apt. 202\r\nWest Walter, TX...",White,Widowed,Adm-clerical,F,Not-in-family,HS-grad,<=50K,"{'mean_glucose':'140.671875','std_glucose':'50...",United-States,...,35.0,0.0,-0.080479,7.610711,140.671875,3.224916,-0.356742,59.568055,50.254681,23.002445
Willie Cusumano,"0260 Harris Trafficway Suite 420\r\nShawnstad,...",White,Divorced,Prof-specialty,f,Unmarried,Some-college,<=50K,"{'mean_glucose':'89.765625','std_glucose':'51....",United-States,...,20.0,0.0,0.569731,-1.032909,89.765625,124.719064,0.248748,-0.788346,51.708843,74.013702
Willie Doyle,"0974 Mitchell Ports\r\nVictormouth, NM 41787",White,Divorced,Prof-specialty,F,Not-in-family,Bachelors,<=50K,"{'mean_glucose':'90.7109375','std_glucose':'48...",United-States,...,50.0,0.0,0.672328,13.742562,90.710938,1.158863,0.614293,201.093962,48.883176,14.100387
Willie Elford,"388 Lindsey Mission Suite 352\r\nWest Justin, ...",Black,Widowed,Adm-clerical,f,Unmarried,HS-grad,<=50K,"{'mean_glucose':'42.2421875','std_glucose':'29...",United-States,...,38.0,0.0,4.261948,0.858548,42.242188,67.026756,25.059113,-0.532012,29.156299,79.262050
Willie Flowers,85806 Liu Center Suite 124\r\nNew Davidchester...,White,Divorced,Prof-specialty,f,Unmarried,Bachelors,<=50K,"{'mean_glucose':'78.8671875','std_glucose':'36...",Cuba,...,8.0,0.0,1.028527,5.246505,78.867188,6.534281,4.438575,27.108933,36.857490,33.064693
Willie Gerace,Unit 0472 Box 3935\r\nDPO AA 56086,White,Divorced,Exec-managerial,f,Not-in-family,Bachelors,<=50K,"{'mean_glucose':'123.828125','std_glucose':'52...",United-States,...,38.0,0.0,0.053054,5.513205,123.828125,5.478261,-0.133633,30.161837,52.086483,29.421690
Willie Newsome,"59886 Green Cape\r\nEast Patricia, AR 93136",White,Divorced,Sales,t,Unmarried,HS-grad,<=50K,"{'mean_glucose':'59.828125','std_glucose':'43....",United-States,...,25.0,2754.0,3.108921,-0.461863,59.828125,135.606187,10.295718,-0.940915,43.633257,82.119099
Willie Robinson,"13693 Tiffany Springs\r\nNorth Ericbury, CA 68355",White,Married-civ-spouse,Adm-clerical,FALSE,Husband,Some-college,>50K,"{'mean_glucose':'64.2734375','std_glucose':'52...",United-States,...,40.0,0.0,1.816040,0.895260,64.273438,64.565217,2.628987,-0.633358,52.701950,81.383367
Willie Rudd,"PSC 4937, Box 8001\r\nAPO AA 11079",White,Married-civ-spouse,Exec-managerial,f,Husband,Assoc-voc,>50K,"{'mean_glucose':'143.671875','std_glucose':'45...",United-States,...,60.0,0.0,-0.045769,5.706651,143.671875,5.173913,0.353643,33.802613,45.302647,26.462345
Willie Stine,"037 Wolfe Summit\r\nLake Kellimouth, DE 74018",White,Married-civ-spouse,Handlers-cleaners,f,Husband,HS-grad,<=50K,"{'mean_glucose':'111.8828125','std_glucose':'4...",United-States,...,40.0,0.0,0.018244,12.640262,111.882812,1.420569,0.056359,192.888825,46.379821,13.014767
Willie Thompson,"49945 Owens Views\r\nBrownshire, KY 14299",White,Never-married,Handlers-cleaners,f,Own-child,9th,<=50K,"{'mean_glucose':'105.9296875','std_glucose':'4...",United-States,...,28.0,0.0,0.280491,7.400133,105.929688,3.184783,0.229687,59.103153,45.304039,21.114637
Willie Williams,"458 Moreno Unions Suite 381\r\nSouth Pamela, M...",White,Married-spouse-absent,Exec-managerial,f,Not-in-family,Bachelors,<=50K,"{'mean_glucose':'100.78125','std_glucose':'52....",United-States,...,40.0,0.0,0.280104,16.305743,100.781250,1.202341,-0.141555,354.377161,52.567655,10.119397
Winford Shinabery,"8439 Rebecca Lane Apt. 283\r\nPort Xavier, SD ...",White,Divorced,Prof-specialty,f,Other_relative,Doctorate,>50K,"{'mean_glucose':'40.515625','std_glucose':'35....",United-States,...,50.0,0.0,3.431531,-0.136802,40.515625,119.732441,15.515920,-0.119417,35.088946,61.197788
Winfred Clark,"8629 Charles Trail Apt. 299\r\nNew Aaronville,...",White,Divorced,Craft-repair,f,Not-in-family,HS-grad,<=50K,"{'mean_glucose':'108.0234375','std_glucose':'5...",United-States,...,45.0,0.0,0.354507,9.335249,108.023438,2.211538,-0.119146,95.450970,54.843451,17.894607
Winfred Leitner,"294 Ross Inlet Apt. 038\r\nEast Arianastad, NV...",White,Divorced,Sales,f,Not-in-family,10th,<=50K,"{'mean_glucose':'92.03125','std_glucose':'38.7...",United-States,...,48.0,0.0,0.604326,14.041230,92.031250,1.142977,2.043385,210.566091,38.778404,14.340594
Winston Johnson,5094 Jason Turnpike Suite 436\r\nChristophersi...,White,Never-married,Other-service,f,Other-relative,HS-grad,<=50K,"{'mean_glucose':'138.546875','std_glucose':'47...",United-States,...,40.0,0.0,-0.362068,8.920507,138.546875,2.667224,0.289589,97.199171,47.449457,16.539341
Wm Caravello,"1807 Lopez Summit\r\nPort Heatherchester, KY 6...",White,Widowed,Sales,f,Not-in-family,Some-college,<=50K,"{'mean_glucose':'116.03125','std_glucose':'53....",United-States,...,60.0,0.0,0.124683,4.587051,116.031250,8.464883,-0.353180,21.193899,53.260406,35.614147
Wm Wilson,"229 Travis Key Apt. 565\r\nMichaelmouth, AZ 96031",White,Divorced,Adm-clerical,f,Own-child,HS-grad,<=50K,"{'mean_glucose':'119.0','std_glucose':'56.0560...",United-States,...,30.0,0.0,0.155941,6.658974,119.000000,4.355351,-0.335032,47.885528,56.056055,24.065476
Woodrow Kopecky,"4920 Fox Haven\r\nLake Susanmouth, AR 22246",White,Married-civ-spouse,Sales,f,Husband,Assoc-acdm,>50K,"{'mean_glucose':'108.640625','std_glucose':'47...",United-States,...,45.0,0.0,0.806467,8.829858,108.640625,3.461538,0.772181,84.048641,47.526429,22.767974
Woodrow Swanson,"186 Heather Mountain\r\nSouth Scott, MO 22247",White,Never-married,Exec-managerial,F,Not-in-family,Masters,<=50K,"{'mean_glucose':'84.4765625','std_glucose':'50...",United-States,...,15.0,0.0,1.212789,4.426358,84.476562,8.353679,2.359105,19.067635,50.007025,35.964278
Wyatt Nolazco,"847 Charles Plain\r\nPort Cameronshire, MN 76141",White,Widowed,Sales,f,Unmarried,HS-grad,<=50K,"{'mean_glucose':'128.59375','std_glucose':'47....",United-States,...,40.0,0.0,0.242236,7.555250,128.593750,3.721572,-0.230980,61.853689,47.003231,23.381064
Young Provines,"7993 Sharon Roads Suite 311\r\nPort Daniel, GA...",White,Never-married,Craft-repair,f,Own-child,11th,<=50K,"{'mean_glucose':'127.796875','std_glucose':'54...",Mexico,...,50.0,0.0,-0.017076,12.930222,127.796875,1.439799,-0.424223,178.171016,54.659508,15.503820
Zachary Grandfield,"77606 Maxwell Rest Apt. 485\r\nPort Jennifer, ...",White,Married-civ-spouse,Exec-managerial,f,Husband,Bachelors,>50K,"{'mean_glucose':'91.734375','std_glucose':'47....",United-States,...,50.0,1977.0,0.605275,4.088567,91.734375,9.842809,0.604172,15.468653,47.215842,40.384259
Zachary Miller,"96654 Marc Stream\r\nEast Cassandra, VT 84597",White,Never-married,Exec-managerial,f,Not-in-family,12th,>50K,"{'mean_glucose':'141.7578125','std_glucose':'9...",United-States,...,50.0,0.0,-0.056413,1.047847,141.757812,55.243311,-1.755332,-0.255939,91.206475,75.793948
Zachary Seltzer,"38371 Crystal Stravenue\r\nPerkinsmouth, DE 20764",Black,Never-married,Exec-managerial,f,Not-in-family,Some-college,<=50K,"{'mean_glucose':'88.484375','std_glucose':'47....",United-States,...,45.0,0.0,0.529680,6.377345,88.484375,4.782609,0.149780,42.574512,47.623029,26.230065
Zane Bottorff,"71075 Taylor Summit\r\nSouth Kevinside, MD 24906",White,Married-civ-spouse,Craft-repair,FALSE,Husband,Some-college,>50K,"{'mean_glucose':'134.828125','std_glucose':'48...",United-States,...,40.0,0.0,0.055082,2.167364,134.828125,26.048495,0.083609,3.112931,48.603965,62.070620

In [7]:
data_merged = other.merge(person, on=['name', 'address'])
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 29 columns):
name                3933 non-null object
address             3933 non-null object
race                3933 non-null object
marital-status      3933 non-null object
occupation          3703 non-null object
pregnant            3931 non-null object
relationship        3932 non-null object
education           3933 non-null object
income              3932 non-null object
medical_info        3932 non-null object
native-country      3872 non-null object
workclass           3341 non-null object
education-num       3933 non-null float64
capital-gain        3933 non-null float64
fnlwgt              3932 non-null float64
class               3933 non-null float64
hours-per-week      3932 non-null float64
capital-loss        3933 non-null float64
kurtosis_glucose    3932 non-null float64
kurtosis_oxygen     3932 non-null float64
mean_glucose        3932 non-null float64
mean_oxygen         3932 non-null float64
skewness_glucose    3932 non-null float64
skewness_oxygen     3932 non-null float64
std_glucose         3932 non-null float64
std_oxygen          3932 non-null float64
age                 3540 non-null float64
sex                 3933 non-null object
date_of_birth       3933 non-null object
dtypes: float64(15), object(14)
memory usage: 921.8+ KB

In [8]:
# data_merged['pregnant'].value_counts()

In [9]:
data_merged = data_merged.replace(['FALSE','F'],'f',regex=True)
data_merged = data_merged.replace(['TRUE','T'],'t',regex=True)
# data_merged['pregnant'].value_counts()

In [10]:
# data_merged['income'].value_counts()

In [11]:
data_merged = data_merged.replace([' <=50K'],'<=50K',regex=True)
data_merged = data_merged.replace([' >50K'],'>50K',regex=True)
# data_merged['income'].value_counts()

In [12]:
# data_merged['relationship'].value_counts()

In [13]:
data_merged = data_merged.replace([' Other-relative'],' Other_relative',regex=True)
data_merged = data_merged.replace([' Not-in-family'],' Not_in_family',regex=True)
data_merged = data_merged.replace([' Own-child'],' Own_child',regex=True)
# data_merged['relationship'].value_counts()

In [14]:
# data_merged['date_of_birth'].value_counts()

In [15]:
for i, row in data_merged.iterrows():
        
    date = parser.parse(data_merged.iloc[i]['date_of_birth'].split(' ')[0])
    day = date.day
    month = date.month
    year = date.year
    
    if (year > 2019):
        year = year - 100

    data_merged.at[i,'date_of_birth'] = str(day) + "/" + str(month) + "/" + str(year)
            
    if ((pd.isna(row['age'])) | (row['age'] > 115) | (row['age'] < 0)):
        data_merged.at[i,'age'] = 2019 - year
        
# data_merged

In [16]:
numeric = data_merged.select_dtypes(include=['float64'])

# Remove NULL value for numeric columns except mean_glucose
for item in data_merged:
    if data_merged[item].dtype == np.float64 and item != 'mean_glucose':
        imp = Imputer(missing_values=np.NaN, strategy='mean')
        data_merged[item] = imp.fit_transform(data_merged[[item]])
        
# data_merged.info()

In [17]:
categoric =  data_merged.select_dtypes(include=['object'])

# Remove NULL value for categorical columns
for item in data_merged:
    if (data_merged[item].dtype == np.object):
        imp = Imputer(missing_values=np.nan, strategy='most_frequent')
        data_merged[item] = imp.fit_transform(data_merged[[item]])

In [18]:
objectsTrain = numeric[numeric.isna().any(axis=1) == False]
objectsPredict = numeric[numeric.isna().any(axis=1) == True]

In [23]:
objectsPredict

,education-num,capital-gain,fnlwgt,class,hours-per-week,capital-loss,kurtosis_glucose,kurtosis_oxygen,mean_glucose,mean_oxygen,skewness_glucose,skewness_oxygen,std_glucose,std_oxygen,age
766,9.0,0.0,167919.0,0.0,NaN,0.0,0.503002,6.716207,108.273438,3.723244,2.078418,54.194037,34.664624,19.496749,53.0
1529,9.0,3818.0,144056.0,0.0,40.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0
2124,9.0,0.0,NaN,0.0,40.0,0.0,0.667347,21.988079,87.429688,0.516722,3.598325,553.231999,33.739277,9.061692,34.0

In [19]:
# KNN regression to know how many groups make


# Xtrain,Xtest,Ytrain,Ytest = split(objectsTrain['skewness_glucose'],objectsTrain['mean_glucose'],test_size=0.3)
# 
# scores = []
# Xtrain = Xtrain.values.reshape(-1,1)
# #Ytrain = Ytrain.values.reshape(-1,1)
# Xtest = Xtest.values.reshape(-1,1)
# #Ytest = Ytest.values.reshape(-1,1)
# for k in range(1,300):
#     model = neigh(n_neighbors = k)    
#     model.fit(Xtrain,Ytrain)
#     Ypred = model.predict(Xtest)
#     scores.append(sqrt(metrics.mean_squared_error(Ytest,Ypred)))

In [20]:
# print(scores.index(min(scores)),' : ', min(scores))
# curve = pd.DataFrame(scores)
# curve.plot()

In [21]:
# Real prediction on mean_glucose with skewness_glucose and use k group
# !!!IMPORTANT!!! need to add into datas

Xpred = objectsPredict['skewness_glucose'].values.reshape(-1,1)
Ypred = objectsPredict['mean_glucose']

Xtrain = objectsTrain['skewness_glucose'].values.reshape(-1,1)
Ytrain = objectsTrain['mean_glucose'].values.reshape(-1,1)
k = 98
model = neigh(n_neighbors = k)    
model.fit(Xtrain,Ytrain)

Ypred = model.predict(Xpred)


Ypred = pd.DataFrame(data = Ypred, columns = ['mean_glucose'], index = Xpred.index.copy())
objectsPredict_out = pd.merge(objectsPredict, Ypred, how = 'left', left_index = True, right_index = True)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# def identify_outliers(a):
#     lower = a.quantile(0.25) - 1.5 * stats.iqr(a)
#     upper = a.quantile(0.75) + 1.5 * stats.iqr(a)
#     
#     return a[(a > upper) | (a < lower)]
# 
# # Get only float64 columns from datas
# numeric = data_merged.select_dtypes(include=['float64'])

In [ ]:
# Print all distplot from numeric datas

# for i in numeric:
#     plt.figure(i)
#     sns.distplot(numeric[i])

In [ ]:
## Replace all numeric outliers
## !!!IMPORTANT!!! need add another methods to replace outliers like transform value by using sqrt or logaritmic function

# for i in numeric:
#     median = numeric[i].median()
#     std = numeric[i].std()  
#     outliers = identify_outliers(numeric[i])
#     numeric[i] = numeric[i].replace(outliers.index,np.nan)
#     numeric[i].fillna(median,inplace=True)

In [ ]:
##
## !!!IMPORTANT!!! need some persistance on models(replace NULL value, replace Outliers)